<h1>{{title}}</h1>
<p>Hello {{currentUser}}</p>
<button id="logout">LOG OUT</button>
<form>
  <input type="text" name="post-content" value="" id="post-content" placeholder="What are you up to?" autofocus>
  <input type="submit" name="button" value="POST!" id="post-button">
</form>
<!-- show all of the posts in this list -->
<ul id="posts">
</ul>


<script type="text/javascript">
var usernames = [];
function submitNewPost() {
  // 1. make POST request to router so that it can save the new post data to app.locals.posts
  // 2. then calls displayPosts();
}
function highlightAtMentions(post) {
    // turn all @mentions into hyperlinks to that user's page
  var allWords = post.split(" ");
  var regex = /^@[\w\-]+/;
  var newWords = allWords.map(function(e) {
    var result = e.match(regex);
    if (result && usernames.indexOf(result[0].slice(1)) >= 0) {
      var newString = "<a href='users/" + result[0].slice(1) + "'>" + result[0] + "</a>";
      if (result[0] !== result.input) {
        newString += result.input.slice(result[0].length);
      }
      return newString;
    } else {
      return e;
    }
  })
  return newWords.join(" ");
}

function displayPosts() {
  $("#posts").empty();
  $.getJSON("/posts", function(data) {
    // create some DOM elements and append to the #posts ul
    var $posts = $("#posts");
    data.forEach(function(e) {
      var $li = $("<li>").html("<a href='users/" + e.user + "'>" + e.user + "</a> said: " + highlightAtMentions(e.post) + " at " + e._timestamp + " " + e._id).addClass(e.user);
      $posts.append($li);
    });
  })
}
$("#logout").click(function(e) {
   // clear out the cookie
   Cookies.remove('username');
   // redirect to /login
   window.location = "/login";
});
$("#post-button").click(function(e) {
  e.preventDefault();
  // send some post data to
  var newPost = {};
  var currentUser = Cookies.get('username');
  var postContent = $("#post-content").val();
  newPost.user = currentUser;
  newPost.post = postContent;
  $("#post-content").val("");
  $.post("/posts", newPost, function() {
    console.log("finished posting the new post from " + currentUser);
    displayPosts();
  })
});
$(function() {
  console.log("page is ready");
  // $("#post-content").focus();
  // make AJAX GET call to /posts
  $.getJSON("/allusernames", function(data) {
    usernames = data;
    console.log(usernames);
    displayPosts();
  })

});
</script>
