<h1>{{title}}</h1>
<p>Hello {{currentUser}}</p>
<button id="logout">LOG OUT</button>
<form>
  <input type="text" name="post-content" value="" id="post-content" placeholder="What are you up to?" autofocus>
  <input type="submit" name="button" value="POST!" id="post-button">
</form>
<!-- show all of the posts in this list -->
<ul id="posts">
</ul>


<script type="text/javascript">
function submitNewPost() {
  // 1. make POST request to router so that it can save the new post data to app.locals.posts
  // 2. then calls displayPosts();
}
function displayPosts() {
  $("#posts").empty();
  $.getJSON("/posts", function(data) {
    // create some DOM elements and append to the #posts ul
    var $posts = $("#posts");
    data.forEach(function(e) {
      var $li = $("<li>").html(e.user + " said: " + e.post + " at " + e._timestamp + " " + e._id).addClass(e.user);
      $posts.append($li);
    });
  })

}
$("#logout").click(function(e) {
   // clear out the cookie
   Cookies.remove('username');
   // redirect to /login
   window.location = "/login";
});
$("#post-button").click(function(e) {
  e.preventDefault();
  // send some post data to
  var newPost = {};
  var currentUser = Cookies.get('username');
  var postContent = $("#post-content").val();
  newPost.user = currentUser;
  newPost.post = postContent;
  $("#post-content").val("");
  $.post("/posts", newPost, function() {
    console.log("finished posting the new post from " + currentUser);
    displayPosts();
  })
});
$(function() {
  console.log("page is ready");
  // $("#post-content").focus();
  // make AJAX GET call to /posts
  displayPosts();

});
</script>
