<div id="login">
  <h3>LOG IN</h3>
  <form action="/login" method="post" accept-charset="utf-8">
    <p><input type="text" class="form-control" name="username" id="username" placeholder="USERNAME" autofocus></p>
    <input type="submit" id="login-button" value="Log In"/>
  </form>
</div>
